<!DOCTYPE html>
<html ng-app="form-builder">
<head lang="en">
    <meta charset="UTF-8">
    <script src="jquery.js"> </script>
    <script src="jquery-ui.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <link href="jquery-ui.css">
    <link href="jquery-ui.structure.css">
    <link rel="stylesheet" href="style.css">

    <title>Custom property form builder</title>
</head>

<script type="text/ng-template" id="input.html">

        <label> Untitled </label>
        <div>
            <input type="text" disabled="true" >
        </div>

</script>

<script type="text/ng-template" id="input-number.html">

        <label> Untitled </label>
        <div>
            <input type="number" disabled="true" >
        </div>

</script>

<script type="text/ng-template" id="input-decimal.html">

        <label> Untitled  </label>
        <div>
            <input type="Number" disabled="true" step="any">
        </div>

</script>

<script type="text/ng-template" id="textarea.html">

        <label> Untitled  </label>
        <div>
           <textarea disabled="true"></textarea>
        </div>
</script>

<script type="text/ng-template" id="checkbox.html">

        <label> Untitled  </label>
        <div>
            <input type="checkbox" disabled="true">
        </div>

</script>

<script type="text/ng-template" id="datepicker.html">

        <label> Untitled  </label>
        <div>
            <input type="text" id="datepicker" disabled="true">
        </div>
</script>




<div ng-include="'input.html'"></div>
<div ng-include="'textarea.html'"></div>

<body ng-controller="IndexController">



<form method="#" action="#">
    <div class="custom-form-builder">
        <div class="sidebar">
            <h3 class="title"> Add Custom Field </h3>
            <div class="info"> Drag and Drop any type of field into the Drag and Drop Zone </div>
            <div>
                  <ul class="drop">

                  </ul>
            </div>


        <h1> Here we have directive </h1>
            <formfield data="initialCi"> </formfield>



        </div>

        <div class="left-region">
            <div class="navigation">
                <div class="pull-left" >
                    <i class="fa fa-arrow-circle-o-left"></i>
                    <a href="#"> Back </a>
                </div>

                <div class="parent-info">
                    <div ng-repeat="x in initialCi" ng-if="x.editable == false">
                        <p> {{ x.title }} </p>
                        <div> {{ x.info }} </div>

                    </div>

                </div>

                <div class="pull-right">
                    <a href="#" class=""> Cancel </a>
                    <input type="submit" value="Save" name="save">
                </div>
            </div>
            <div class="drop-zone">
                <div>

                    <li>

                            <formfield ng-repeat="x in initialCi" data-type="{{x.field_type}}" > </formfield>


                    </li>





                    <ul id="sortable" class="ui-sortable ui-dropable" >
                        <li ng-repeat="item in initialCi">

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</form>






</body>
</html>